.bsp/
.idea/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.DS_Store
ci/test-*

# Dockerfile is selected based on the action to do: either building parent image or running a test suite
Dockerfile 
!ci/**/Dockerfile
/ci/tests/2.13.1/
/ci/tests/2.12.10/
