.idea/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

ci/test-*

# Dockerfile is selected based on the action to do: either building parent image or running a test suite
Dockerfile 
!ci/**/Dockerfile
