name: Run Tests

on:
  push:
    branches: [master]
  pull_request:

jobs:
  code-style-check:
    runs-on: ubuntu-latest
    steps:
      - name: Check code style
        run: sbt scalafmtCheckAll scalafmtSbtCheck "scalafixAll --check"
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scala-version: [ "2.12", "2.13" ]
        test-set: [ "probe", "scala" ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Prepare the environment
        run: |
          git fetch --tags
          sbt ci/generateScripts
          ci/tests/build_image
      - name: Run tests
        env:
          SCALA_VERSION: ${{ matrix.scala-version }}
          TEST_SET: ${{ matrix.test-set }}
        run: ci/tests/run $TEST_SET $SCALA_VERSION
      - name: Upload screenshots
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: screenshots-${{ matrix.test-set }}_${{ matrix.scala-version }}
          path: /tmp/ide-probe/screenshots